body {
  background-color: rgb(255, 255, 255);
}

/* Company Selection Table */

.symbol-selection-table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

.symbol-selection-table th,
.symbol-selection-table td {
  text-align: left;
  padding: 8px;
}

.symbol-selection-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.symbol-selection-table tr.selected {
  background-color: #d6abab;
}

.symbol-selection-table tbody tr:hover {
  background-color: #dbdbdb;
}

.symbol-selection-table tbody tr.selected:hover {
  background-color: #bb7b7b;
}

.symbol-selection-table thead {
  background-color: #8304aa;
  color: white;
}

.symbol-selection-table thead th:hover {
  background-color: #700092;
}

.symbol-selection-table tbody {
  display: block;
  height: 200px;
  overflow: auto;
}

.symbol-selection-table thead {
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  z-index: 1;
  top: 0;
}

.symbol-selection-table thead,
.symbol-selection-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

/* Slider */

.slider_container {
  width: 100%;
}

.slider_container td {
  padding: 0px;
  margin: 0px;
  background-color: #8304aa;
}

.slider_table_wrapper {
  width: 100%;
}

.time-selection-ticker {
  text-align: center;
}

input[type="range"] {
  border: 1px solid red;
  width: 100%;
  margin: 0;
  padding: 0;
}

.selected-slider-value {
  border: 2px dashed green;
}

/* Company Overview */

.overview-container {
  border: 2px solid #d6abab;
  border-radius: 5px;
  padding-left: 5px;
  background-color: blanchedalmond;
}
