body {
  background-color: rgb(255, 255, 255);
}

/* Table CSS */

.symbol-selection-table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}

.symbol-selection-table th,
.symbol-selection-table td {
  text-align: left;
  padding: 8px;
}

.symbol-selection-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.symbol-selection-table tr:hover {
  background-color: #dbdbdb;
}

.symbol-selection-table tr.selected {
  background-color: #d6abab;
}

.symbol-selection-table th {
  background-color: #8304aa;
  color: white;
}

/* Slider CSS */

.slider_container {
  width: 100%;
}

.slider_container td {
  padding: 0px;
  margin: 0px;
  background-color: #8304aa;
}

.slider_table_wrapper {
  width: 100%;
}

.time-selection-ticker {
  text-align: center;
}

input[type="range"] {
  border: 1px solid red;
  width: 100%;
  margin: 0;
  padding: 0;
}

.selected-slider-value {
  border: 2px dashed green;
}

/* Company Overview */

.overview-container {
  border: 2px solid #d6abab;
  border-radius: 5px;
  padding-left: 5px;
  background-color: blanchedalmond;
}