:root {
  --grid-row-height: 300px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(247, 229, 255); /* keep your existing background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Top-level-grid */

#grid-wrapper {
  display: grid;
  grid-template-areas:
    "selection selection"
    "overview stocks"
    "speedometer words"
    "cash cash";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--grid-row-height) var(--grid-row-height) var(--grid-row-height) var(
      --grid-row-height
    );
  row-gap: 20px;
  column-gap: 10px;
  padding: 5px;
}

#grid-wrapper > #selection_table {
  grid-area: selection;
}

#grid-wrapper > #company_overview {
  grid-area: overview;
}

#grid-wrapper > #intraday-line-chart {
  grid-area: stocks;
}

#grid-wrapper > #sankey {
  grid-area: cash;
}

#grid-wrapper > #speedometer {
  grid-area: speedometer;
}

#grid-wrapper > #wordcloud {
  grid-area: words;
}
