.sankey-selection {
  text-align: center;
  margin-bottom: 10px;
}

#sankey-selection {
  border: 2px solid #d2b5db;
  border-radius: 5px;
  background: var(--pink-gradient);
  padding: 0px 10px;
  font-size: large;
}

#sankey {
  position: relative;
}

.sankey-rect {
  stroke: black;
  rx: 2px;
}

.sankey-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.sankey-link {
  fill: none;
}

rect.bearish-sankey {
  fill: var(--bearish);
}

rect.sw-bearish-sankey {
  fill: var(--sw-bearish);
}

rect.neutral-sankey {
  fill: var(--neutral);
}

rect.sw-bullish-sankey {
  fill: var(--sw-bullish);
}

rect.bullish-sankey {
  fill: var(--bullish);
}

path.bearish-sankey {
  stroke: var(--bearish);
}

path.sw-bearish-sankey {
  stroke: var(--sw-bearish);
}

path.neutral-sankey {
  stroke: var(--neutral);
}

path.sw-bullish-sankey {
  stroke: var(--sw-bullish);
}

path.bullish-sankey {
  stroke: var(--bullish);
}
