.screencast-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.screencast-container > h3 {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 10px 30px;
  border-radius: 25px;
  background: var(--purple-gradient);
  box-shadow: var(--box-shadow-dark);
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  min-width: 150px;
}

.screencast-container > * > iframe {
  width: 600px;
  height: 400px;
  margin: 0;
  border-radius: 15px;
  border: none;
}

#frame-wrapper {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repo-links {
  margin-top: 20px;
}

.github-link {
  color: #d1d1d1;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(39, 37, 37);
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0px 5px;
}

.github-link i {
  margin-right: 5px;
}

.description-title {
  padding: 0;
  margin: 0;
}
