.screencast-container > h3 {
  position: absolute;
  /* top: -25px; */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
  padding: 12px 30px;
  border-radius: 25px;
  background: var(--purple-gradient);
  box-shadow: var(--box-shadow-dark);
  color: white;
  z-index: 1;
  font-weight: 600;
  letter-spacing: 0.5px;
  min-width: 150px;
}

.screencast-container > iframe {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 70px);
  text-align: center;
  /* margin: 0;
  padding: 12px 30px;
  border-radius: 25px;
  background: var(--pink-gradient);
  box-shadow: var(--box-shadow-dark);
  color: white;
  z-index: 1;
  font-weight: 600;
  letter-spacing: 0.5px;
  min-width: 150px; */
}
