/* Company Selection Table */

#selection_table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

#selection_table h3 {
  margin: 0.5em 0;
  text-align: center;
}

#table-wrapper {
  flex: 1;
  overflow: auto;
  border: 2px solid black;
}

.symbol-selection-table {
  width: 100%;
  border-collapse: collapse;
}

.symbol-selection-table th,
.symbol-selection-table td {
  text-align: left;
  padding: 8px;
}

.symbol-selection-table tbody tr:nth-child(even) {
  background-color: var(--pink-light);
}

.symbol-selection-table tbody tr:nth-child(odd) {
  background-color: var(--pink);
}

.symbol-selection-table tbody tr.selected {
  background-color: var(--pink-pale);
}

.symbol-selection-table tbody tr:hover {
  background-color: var(--pink-dark);
}

.symbol-selection-table tbody tr.selected:hover {
  background-color: var(--purple-light);
}

.symbol-selection-table thead {
  background: var(--purple-gradient);
  color: white;
}

.symbol-selection-table thead th:hover {
  background-color: #00000031;
}

.symbol-selection-table tbody {
  display: block;
  height: 100%;
  overflow: auto;
}

.symbol-selection-table thead {
  box-shadow: var(--box-shadow-dark);
  position: sticky;
  z-index: 1;
  top: 0;
}

.symbol-selection-table thead,
.symbol-selection-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
