/* Slider */

.slider_container {
  width: 100%;
}

.slider_table_wrapper {
  width: 100%;
}

.ticker-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.time-selection-ticker {
  color: rgb(156, 156, 156);
  text-align: center;
}

.selected-slider-value {
  color: black;
  background-color: #dccedd;
  text-align: center;
  border-radius: 3px;
}

input[type="range"] {
  width: 100%;
}

rect.tick-rect-highlight {
  fill: #842b9b7a;
  rx: 5px;
}

.tick-highlight > line {
  stroke-width: 3px;
  stroke: #842b9b7a;
}

.tick-highlight > text {
  color: #000000;
}
