:root {
  /* Default Website Color Scheme */
  --grid-row-height: 300px;
  --pink: rgba(253, 205, 255, 0.85);
  --purple: #8043a0;
  --purple-gradient: linear-gradient(145deg, #9b4db4, var(--purple));
  --pink-gradient: linear-gradient(135deg, rgba(255, 240, 255, 0.95), var(--pink));
  --box-shadow-light: 0 8px 16px rgba(143, 67, 167, 0.1);
  --box-shadow-dark: 0 5px 15px rgba(143, 67, 167, 0.3);

  /* Sentiment colors */
  --bullish: rgb(016, 101, 171);
  --sw-bullish: rgb(127, 175, 199);
  --neutral: rgb(202, 202, 202);
  --sw-bearish: rgb(212, 141, 110);
  --bearish: rgb(179, 021, 041);
}
