:root {
  /* Default Website Color Scheme */
  --grid-row-height: 300px;

  /* Purple Anchors */
  --purple: #7a3a9e;
  --purple-light: #b38cc4;
  --pink-dark: #c998b3;
  --pink-pale: #c9afbd;
  --pink: #f4d8e6;
  --pink-light: #fbeff4;
  --light-purple: #e0c0da;

  /* Gradients */
  --purple-gradient: linear-gradient(145deg, var(--purple-light), var(--purple));
  --pink-gradient: linear-gradient(135deg, var(--pink-light), var(--pink));

  /* Box Shadows */
  --box-shadow-light: 0 8px 16px rgba(143, 67, 167, 0.1);
  --box-shadow-dark: 0 5px 15px rgba(143, 67, 167, 0.3);

  /* Sentiment colors */
  --bearish: rgb(160, 10, 25);
  --sw-bearish: rgb(193, 132, 105);
  --neutral: #a0bfc5;
  --sw-bullish: rgb(129, 181, 210);
  --bullish: rgb(26, 98, 155);
}
